.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  .header & {
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 60px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  //
  // .header &,
  // .features & {
  //   display: flex;
  //   align-items: center;
  // }

  // .footer & {
  //   display: flex;
  //   align-items: baseline;
  // }
}
